APP_NAME=Laravel
APP_ENV=production
APP_KEY=
# Never enable APP_DEBUG in production deployments
APP_DEBUG=false
APP_URL=http://localhost
TRACKER_ANNOUNCE_URL=http://localhost/announce/%s

LOG_CHANNEL=stderr
LOG_LEVEL=error

APP_TIMEZONE=UTC
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
FAKER_LOCALE=en_US

# Database (tilpas hvis du faktisk bruger DB)
DB_CONNECTION=sqlite
DB_DATABASE=/app/database/database.sqlite
