includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/larastan/larastan/rules.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    tmpDir: var/phpstan

    level: 5

    checkOctaneCompatibility: true

    ignoreErrors: []
